*.cmf
*.lst
*.map
*.obj
*.rlf
*.sym
*.properties
*.mk
/freq_counter_v1.X/nbproject/private/
/freq_counter_v1.X/build/default/
/freq_counter_v1.X/dist/default/
/level_meter.X/nbproject/private/
/level_meter.X/build/default/
/level_meter.X/dist/default/
/max038_fg.X/nbproject/private/
/osc_test.X/nbproject/private/
/AD9851_test.X/nbproject/private/
/AD9851_test.X/build/default/
/AD9851_test.X/dist/default/
/ecorun_logger.X/nbproject/private/
/ecorun_logger.X/build/default/
/ecorun_log_sender.X/nbproject/private/
/ecorun_log_sender.X/build/default/
/ecorun_log_sender.X/dist/default/
/MAX038_generator_controller.X/nbproject/private/
/MAX038_generator_controller.X/build/default/
/MAX038_generator_controller.X/dist/default/