*.cmf
*.lst
*.map
*.obj
*.rlf
*.sym
*.properties
*.mk
/freq_counter_v1.X/nbproject/private/
/freq_counter_v1.X/build/default/
/freq_counter_v1.X/dist/default/
/level_meter.X/nbproject/private/
/level_meter.X/build/default/
/level_meter.X/dist/default/
/max038_fg.X/nbproject/private/
/osc_test.X/nbproject/private/
